@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}


.hire-me {
    border: 3px solid orange;
}

@keyframes moves {

    0% {
        opacity: .5;
        transform: scale(0.8);
    }
    
}


.project1{
    background-color: black;
    transition: transform 2s ease-in-out;
    animation: moves 3s ease-in-out 1s infinite normal;
}

.left {
    animation: slide-in-left 2s ease-out 0.5s forwards normal;
    opacity: 0;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
      }

      25% {
        transform: translateX(70%);
        opacity: 0.25;
      }

      50% {
        transform: translateX(50%);
        opacity: 0.5;
      }
    

      75% {
        transform: translateX(25%);
        opacity: 0.75;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    
    
    
}
 